@mixin title-background {
  .title-background {
    height: 8rem;
    background-color: $accent-color;
    transform: skewY(-1.2deg) translateY(-20%);
    box-shadow: 0 5px 20px black;

    h1 {
      font-size: $title-font;
      color: $title-color;
      transform: skewY(1deg) translateY(85%);
    }
  }
}

@mixin story {
  .story-container {
    border: 2px solid #f3f3f3;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;

    &:hover {
      border: 2px solid lighten($accent-color, 10%);
      transform: scale(1.01);
    }

    .story-title {
      padding: 10px 0;
    }

    h2 {
      display: inline;
      font-size: 2rem;
      color: black;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    small {
      font-size: 1rem;
    }

    .comments {
      cursor: pointer;

      &:hover > mat-icon.message {
        color: lighten($accent-color, 10%);
      }
    }
  }

  .social {
    width: 300px;
    display: flex;
    justify-content: space-between;

    mat-icon {
      color: $accent-color;
    }

    @include mQ($small) {
      width: 100%;
    }
  }
}

@mixin stories-container {
  .stories-container {
    height: calc(100vh - 12rem);

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: lighten($accent-color, 10%);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $accent-color;
    }
  }
}

@mixin mQ($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
