<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a [routerLink]="['/home']" class="navbar-brand" href="#">Hacker News</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbarsExampleDefault"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarsExampleDefault"
    [ngbCollapse]="isCollapsed"
    id="navbarNav"
  >
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <a [routerLink]="['/home']" class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a [routerLink]="['/home', 'newstories']" class="nav-link" href="#"
          >New Stories <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
