<div class="stories">
  <div class="container-fluid">
    <cdk-virtual-scroll-viewport [itemSize]="180" class="stories-container">
      <div *cdkVirtualFor="let item of ids?.result">
        <div class="col">
          <app-story [id]="item"></app-story>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
