<div class="story-container">
  <div class="story-title">
    <a target="_blank" href="{{ story?.url }}"
      ><h2>{{ story?.title }}</h2>
    </a>
    <small
      ><a *ngIf="story?.by" [routerLink]="['/user', story?.by]">{{
        story?.by
      }}</a></small
    >
  </div>
  <div class="social">
    <small [routerLink]="['/comments', id]" class="comments"
      ><mat-icon class="message">message</mat-icon>
      {{ story?.kids.length }}</small
    >
    <small class="score"><mat-icon>thumb_up</mat-icon>{{ story?.score }}</small>
  </div>
</div>
