<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="user-info">
        <h1 class="username">{{ user?.id }}</h1>
        <small>About:</small>
        <p class="about" [innerHTML]="user?.about"></p>

        <p class="created">
          Created: <b>{{ user?.created | date: "MMM d, y" }}</b>
        </p>
        <p class="karma">
          Karma: <b>{{ user?.karma }}</b>
        </p>
        <p class="sumitted">
          Stories submitted: <b>{{ user?.submitted.length }}</b>
        </p>
      </div>
    </div>
  </div>
</div>
