@import "../../assets/scss/vars";
@import "../../assets/scss/mixins";

.user-info {
  padding: 20px;
}

.username {
  color: $accent-color;
}

.about {
  padding: 20px;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
}
