<div *ngIf="story?.id" class="container-fluid">
  <div *ngFor="let item of story?.kids" class="row">
    <div class="col">
      <app-comment [commentId]="item"></app-comment>
    </div>
  </div>
</div>
<div *ngIf="!story?.id" class="container-fluid">
  <div class="error">
    <h1>No such comments</h1>
  </div>
</div>
<div *ngIf="!story" class="spinner">
  <mat-spinner></mat-spinner>
</div>
