.error h1 {
  text-align: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 11rem;
  left: 0;
  height: calc(100% - 12rem);
  width: 100%;
}
