<div
  *ngIf="comment?.type === 'comment' && comment?.by"
  class="comment-container"
>
  <p>
    <a class="user" *ngIf="comment?.by" [routerLink]="['/user', comment?.by]">{{
      comment?.by
    }}</a
    ><small>{{ comment?.time | date: "MMM d, y, h:mm:ss a" }}</small>
  </p>
  <p
    *ngIf="!show && comment?.text.length > 300"
    [innerHTML]="comment?.text.slice(0, 300) + '...'"
  ></p>
  <p
    *ngIf="show || comment?.text.length <= 300"
    [innerHTML]="comment?.text"
  ></p>
  <button
    (click)="showHide()"
    *ngIf="comment?.text.length > 300 && !show"
    class="btn btn-link"
  >
    Show more
  </button>
  <button
    (click)="showHide()"
    *ngIf="comment?.text.length > 300 && show"
    class="btn btn-link"
  >
    Show less
  </button>
</div>
